*{
    user-select: none;
}

body {
    background:linear-gradient(to bottom, black,rgb(27, 27, 27)); 
}
.a{
    color: white;
    text-align: center;
    border: 2px white solid;
    background-color: rgba(255, 0, 0, 0);
    padding: 30px;
    border-radius: 5px 5px 5px 5px;
    transition: all .3s ease-out;
    user-select: none;
    font-size: 40px;
    -webkit-text-align: center;
    -ms-text-align: center;
    margin:30px 0;
    list-style-type:none;
    overflow: hidden;
    background-color:#333333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 96%;
    display: block;
}
.a:hover{
    cursor: pointer;
    background-color: red;
    text-shadow: black 3px 3px 3px;
    
}
.new{
    background:linear-gradient(to bottom, rgb(255, 0, 0), rgba(145, 255, 0, 0.326),black);
    border-radius: 5px;
    color:yellow;
    overflow: hidden;
}
.bf{
    color: whitesmoke;
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
}
.bfa{
    margin-left: 40%;
}
.bk{
    position: relative;
    left: 40%; 
    image-resolution: 2060;
}
.sn{
    text-align: center;
    color: yellow;
    border-bottom: red 2px dashed;
    font-size: 60px;
    transition: all ease-out 2s;
    cursor: pointer;
}
.all{
    text-align: center;
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-top:2%;
}
.fo{
    color: yellow;
    font-size: 20px;
}
.sn:hover{
    transform:scale(1.05);
} @media screen and (max-width: 930px){
    body {
        background:linear-gradient(to bottom, black,rgb(27, 27, 27)); 
    }
    .a {
        text-align: center;
        background-color: red;
        font-size: 30px;
    }
    .bfa{
        margin-left: 12%;
    }
}
